body{
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-meio-tom-azul-em-branco_53876-99003.jpg);
}

.quadrado{
text-align: center;
width: 50px;
background: rgb(60, 1, 253);
display: inline-block;
padding: 40px;
/* espaçamento Interno para o conteudo dentro do quadrado "\\\ */
font-size: 60px;
/* /tamanho de fonte tx ou 0) centro do quadrado "/ */
margin: 5px;
/* mento entre */
cursor: pointer;
/* mostrsr o cursor de mao o mouse pasa sobre os quadrados */
color: rgb(0, 243, 251);
/* cor */
}

.jogador,
.Vencedor{
font-size: 30px;
margin-top: 10px;
}
button{
margin-top: 10px;
width: 10%;
height: 30px;
background: rgb(0, 243, 122);
cursor: pointer;
}