.ty{
    margin-right: 100px;
}
.funcionamento{
    width: 900px;
    margin:  auto;
    text-align: center;
    font-size: 50px;
    letter-spacing: 25px;
    padding: 15%;
}
.f{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

